.filters {
  display: flex;
  align-items: center;
  position: relative;
  color: black;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.locations,
.amenities {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

.locations {
  border-right: 1px solid #dddddd;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin: 2px 20px;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 2px 20px;
}

.btn {
  position: absolute;
  right: 30px;
  font-size: 18px;
  background-color: #ff5a5f;
  color: white;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.9;
}

